body {
  margin: 0;
  height: 100vh;
  background-color: rgb(0, 255, 38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  font-size: 80px;
  color: white;
  font-weight: bold;
}